In [1]:
%pip install joblib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
import joblib

In [3]:
df = pd.read_csv("diabetes2.csv")
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [4]:
X = df.drop(columns=['class'])
y = df['class']
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
dtc = DecisionTreeClassifier(random_state=42)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_val_score(dtc, X_scaled, y, cv=kf, scoring='accuracy')
mean_accuracy = np.mean(scores)
print(f"Mean Accuracy: {mean_accuracy:.4f}")

Mean Accuracy: 0.7266

In [6]:
dtc.fit(X_scaled,y)
joblib.dump(dtc, 'model.pkl')
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']